<div class="row p-3" style="background-color: #dfdfdf;">
  <div>
    <div class="alert alert-danger" *ngIf="showMessage">
      {{message}}
    </div>

    <div>
      <h5>Add an Event</h5>
    </div>

    <div class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control ml-2" #event="ngModel" [(ngModel)]="eventEditModel.title" (keyup)="refresh.next()" placeholder="Description" />
      </div>

      <div class="form-group ml-2 mr-2">
        <label class="mr-3" for="pwd">Start At</label>
        <input class="form-control" type="text" mwlFlatpickr (ngModelChange)="refresh.next()" #start="ngModel" [(ngModel)]="eventEditModel.start"
               [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Starts at" />
      </div>

      <div class="form-group">
        <label class="mr-3" for="pwd">Ends at</label>
        <input class="form-control" type="text" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="true" #end="ngModel" [(ngModel)]="eventEditModel.end"
               [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Ends at" />
      </div>

      <button type="button" class="btn btn-primary btn-default active ml-2" (click)="addEvent()">Submit</button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary"
           mwlCalendarPreviousView
           [view]="view"
           [(viewDate)]="viewDate"
           (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-outline-secondary"
           mwlCalendarToday
           [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary"
           mwlCalendarNextView
           [view]="view"
           [(viewDate)]="viewDate"
           (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group pull-right">
      <div class="btn btn-primary"
           (click)="setView(CalendarView.Month)"
           [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary"
           (click)="setView(CalendarView.Week)"
           [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary"
           (click)="setView(CalendarView.Day)"
           [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                               [viewDate]="viewDate"
                               [events]="events"
                               [refresh]="refresh"
                               [activeDayIsOpen]="activeDayIsOpen"
                               (dayClicked)="dayClicked($event.day)"
                               (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week"
                              [viewDate]="viewDate"
                              [events]="events"
                              [refresh]="refresh"
                              (eventClicked)="handleEvent('Clicked', $event.event)"
                              (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
                             [viewDate]="viewDate"
                             [events]="events"
                             [refresh]="refresh"
                             (eventClicked)="handleEvent('Clicked', $event.event)"
                             (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>

  <!--<div class="col-md-5">
    <h3 class="text-center">Events</h3>
    <div class="table-responsive">
      <ul *ngIf="events.length > 0" class="list-group">
        <li class="list-group-item" *ngFor="let event of events">
          <span><strong>Title : </strong>{{event.title}}</span><br />
          <span><strong>Start At : </strong>{{ event.start | date:'medium' }}</span><br />
          <span><strong> Ends At : </strong>{{ event.end | date:'medium' }}</span><br />
        </li>
      </ul>
      <ul *ngIf="events.length <= 0">
        <li class="list-group-item">
          <span class="text-center"><strong>No Event Has Been Added for this month</strong></span><br />
        </li>
      </ul>
    </div>
  </div>-->

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>
</div>






