<div>
  <div class="row">
    <div class="col-md-4 offset-1">
      <div id="signup">
        <h3>Sign Up</h3>
        <div class="mt-5">
          <div class="top-row">
            <div class="form-group position-relative">
              <input id="firstName" type="text" class="form-control" [(ngModel)]="registrationModel.FirstName" placeholder="FirstName" required autocomplete="off" />
            </div>

            <div class="form-group position-relative">
              <input id="lastName" type="text" class="form-control" [(ngModel)]="registrationModel.LastName" placeholder="LastName" required autocomplete="off" />
            </div>
          </div>

          <div class="form-group position-relative">
            <input id="email" type="email" class="form-control" [(ngModel)]="registrationModel.Email" placeholder="Email" required autocomplete="off" />
          </div>

          <div class="form-group position-relative">
            <input id="password" type="password" class="form-control" [(ngModel)]="registrationModel.Password" placeholder="Set A Password" required autocomplete="off" />
          </div>

          <div class="form-group position-relative">
            <input id="confirmPassword" class="form-control" type="password" placeholder="Confirm Password" required autocomplete="off" />
          </div>

          <button type="button" (click)=" registerUser()" class="btn btn-primary">Register</button>
        </div>
        
      </div>
    </div>
    <div class="col-md-2" >
      <div style="border-left: 1px solid #b6b6b6;height: 500px;margin-left:80px;">

      </div>
    </div>
    <div class="col-md-4">
      <h3>Welcome Back!</h3>

      <div class="alert alert-danger" *ngIf="userSessionModel.isAuthenticated == false">
        {{userSessionModel.message}}
      </div>

      <div class="mt-5">
        <div class="form-group position-relative">
          <!--<label for="exampleInputEmail1">Email address</label>-->
          <input type="email" class="form-control" [(ngModel)]="authenticationModel.Email" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group position-relative">
          <!--<label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control" [(ngModel)]="authenticationModel.Password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary" (click)="authenticationUser()">Login</button>
      </div>

    </div>
  </div>
</div>
